*{
    background-color: #eff0e3;
    font-family: Arial, Helvetica, sans-serif;
}
#imagem {
 text-align: center;
}

.mosquito {
    text-align: bold;
    text-decoration-color:  #c26861;
}
.tabela1{
    border: 10% round;
}