*{
    background-color: #eff0e3;
    font-family: Arial, Helvetica, sans-serif;
}
#imagem {
 text-align: center;
}
.tabela1{
    text-align: center;
        border-style: solid;
        border-color:  #c26861;
}
.amora{
    text-align: center;
    border-color: #c26861;
}
.duque{
    text-align: center;
    border-color: #c26861;
}